<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.NotiMe" android:versionCode="3" android:versionName="0.9.2"
	android:installLocation="auto">

	<!-- Permissions -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="android.permission.VIBRATE" />

	<application android:debuggable="true" android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity android:name=".NotiMe" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".About" android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog">
		</activity>
		<service android:name=".NotifyingService" />

		<!-- This is used to display a notification selected by the user from StatusBarNotifications. 
			Note the configuration here so that the activity layers on top of whatever 
			the user is doing, allowing them to press back to return. -->
		<activity android:name=".NotificationDisplay"
			android:taskAffinity="" android:excludeFromRecents="true"
			android:noHistory="true">
		</activity>
		<activity android:name=".NotiErrDisplay"
			android:taskAffinity="" android:excludeFromRecents="true"
			android:noHistory="true">
		</activity>
		<activity android:name=".Preferences" android:taskAffinity=""
			android:excludeFromRecents="true" android:noHistory="true">
		</activity>

	</application>

	<screens-support>
	</screens-support>

	<uses-sdk android:minSdkVersion="3" />
	<uses-sdk android:targetSdkVersion="8" />
</manifest> 